In [26]:
import pandas as pd

df = pd.read_pickle("rgb_eval_results.pkl")
#df[df["env"] == "Freeway"].sort_values(by=["reward_mean"])
df
#df = df.drop(df[(df.score < 50) & (df.score > 20)].index)
#df[df["env"] == "Pong"]

,env,variant,train_seed,eval_seed,episodes,reward_mean,reward_std,steps_mean,steps_std
0,Asterix,rgb,0-rgb,456,5,3220.0,97.979591,928.6,59.449474
1,Asterix,rgb,0-rgb,789,5,3460.0,387.814392,989.2,136.858175
2,Asterix,rgb,0-rgb,1011,5,3640.0,463.033478,1050.4,153.175194
3,Asterix,rgb,0-rgb,123,5,3680.0,430.813171,1056.2,148.251678
4,Asterix,rgb,32-rgb,123,5,2680.0,240.000000,878.0,49.662863
...,...,...,...,...,...,...,...,...,...
91,Kangaroo,rgb,32-rgb,1011,5,1680.0,240.000000,653.2,54.616481
92,Kangaroo,rgb,16-rgb,123,5,5820.0,97.979591,1779.2,3.059412
93,Kangaroo,rgb,16-rgb,456,5,5860.0,80.000000,1779.6,2.870540
94,Kangaroo,rgb,16-rgb,789,5,5860.0,80.000000,1777.0,1.095445
95,Kangaroo,rgb,16-rgb,1011,5,5860.0,80.000000,1779.6,1.356466

In [27]:
grouped = df.groupby(["env", "variant"])

grouped["reward_mean"].agg(["mean", "std"])

                          mean           std
env      variant
Asterix  rgb       3185.000000    357.173245
Bowling  rgb         43.250000     31.965791
Boxing   rgb         85.083336      9.017340
Freeway  rgb         22.116667     16.336787
Kangaroo rgb       3600.000000   1805.929627
Pong     rgb         20.633333      0.473542
Skiing   rgb     -22983.333984  10333.287510
Tennis   rgb         -5.016667      5.054221