In [6]:
import pandas as pd

neural_df = pd.read_csv("rgb-v5_eval_results.csv")
scobot_df = pd.read_csv("scobots_eval_results.csv")
iscobot_df = pd.read_csv("iscobots_eval_results.csv")
skiing_df = pd.read_csv("skiscobots_eval_results.csv")
abl_norel_df = pd.read_csv("abl_norel_eval_results.csv")
abl_onlyrel_df = pd.read_csv("abl_onlyrel_eval_results.csv")

iscobot_df = iscobot_df.drop(iscobot_df[(iscobot_df.env == "Skiing" )].index)
iscobot_df[iscobot_df["env"] == "Skiing"].sort_values(by=["reward_mean"])
all_df = pd.concat([neural_df, scobot_df, iscobot_df, skiing_df, abl_norel_df, abl_onlyrel_df])
abl_df = pd.concat([scobot_df,abl_norel_df, abl_onlyrel_df])
abl_df

,Unnamed: 0,env,variant,train_seed,eval_seed,episodes,reward_mean,reward_std,steps_mean,steps_std
0,0,Bowling,scobots,16,789,5,138.8,6.368673,1874.6,49.733691
1,1,Bowling,scobots,16,123,5,136.2,6.368673,1894.6,49.491818
2,2,Bowling,scobots,16,456,5,136.2,6.368673,1895.2,49.981597
3,3,Bowling,scobots,16,1011,5,138.8,6.368673,1875.2,50.459489
4,4,Bowling,scobots,32,789,5,52.0,0.000000,2042.0,0.000000
...,...,...,...,...,...,...,...,...,...,...
103,103,Pong,abl_onlyrel,0,1011,5,19.0,1.414214,2163.2,268.245708
104,104,Pong,abl_onlyrel,32,123,5,19.6,1.200000,1965.8,317.338557
105,105,Pong,abl_onlyrel,32,456,5,20.0,0.632455,2003.8,339.258839
106,106,Pong,abl_onlyrel,32,789,5,19.0,1.264911,2276.0,426.610361
107,107,Pong,abl_onlyrel,32,1011,5,19.8,1.469694,2088.6,139.159764

In [7]:
grouped = all_df.groupby(["env", "variant"])

agg_df = grouped["reward_mean"].agg(["mean", "std"])
agg_df

                              mean           std
env      variant
Asterix  abl_norel     4270.000000    472.555913
         abl_onlyrel   5525.000000    683.952417
         iscobots      5043.333333    729.973017
         rgbv5         2126.666667    148.589326
         scobots       5080.000000    614.787473
Bowling  abl_norel      123.716667     13.019275
         abl_onlyrel    128.733333      1.876812
         iscobots       137.466667     24.084598
         rgbv5          102.183333     39.121206
         scobots        106.583333     41.785994
Boxing   abl_norel       90.016667      5.227520
         abl_onlyrel     95.783333      2.637434
         iscobots        69.000000     10.942827
         rgbv5           90.316667      3.024095
         scobots         97.066667      2.207975
Freeway  abl_norel       32.466667      0.506922
         abl_onlyrel     33.516667      0.462863
         iscobots        32.933333      0.725300
         rgbv5           33.600000      0.225630
         scobots         32.833333      0.143548
Kangaroo abl_norel     1790.000000     83.774589
         abl_onlyrel   2203.333333    156.747239
         iscobots      4050.000000    217.840642
         rgbv5          790.000000    280.842887
         scobots       2776.666667   1332.416351
Pong     abl_norel       17.466667      1.119524
         abl_onlyrel     18.583333      1.619109
         iscobots        17.533333      1.803700
         rgbv5           16.433333      1.515576
         scobots         17.166667      1.883581
Seaquest abl_norel     2022.000000    404.269937
         abl_onlyrel    645.000000    151.031604
         iscobots      2411.333333    377.019250
         rgbv5          837.333333     46.658008
         scobots       1055.333333    272.560030
Skiing   abl_norel   -27641.050000   5014.277030
         abl_onlyrel -30000.000000      0.000000
         iscobots     -6530.616667   3326.635394
         rgbv5       -23004.333333  10333.284485
         scobots     -23004.333333  10333.284485
Tennis   abl_norel        7.466667     11.033942
         abl_onlyrel     15.466667     11.426392
         iscobots         0.000000      0.000000
         rgbv5           -0.950000      0.090453
         scobots          2.433333      3.602861

In [8]:
agg_df.index = agg_df.index.set_levels(agg_df.index.levels[1].str.replace('rgbv5', 'neural'), level=1)
agg_df.index = agg_df.index.set_levels(agg_df.index.levels[1].str.replace('abl_norel', 'scobots_properties'), level=1)
agg_df.index = agg_df.index.set_levels(agg_df.index.levels[1].str.replace('abl_onlyrel', 'scobots_relations'), level=1)
agg_df.to_csv("abl_agg_results.csv")